body {
    background-color: rgb(16, 16, 24);
}

nav {
    color: white;
    background-color: rgb(13, 13, 24);
    border-bottom: solid 1px yellow;
}

#featured {
    position: absolute;
    transform: translate( 30%, -100%);
}

#first {
    color: yellow;
    border: solid yellow 1px;
    background:none;
}